/* universal styles */
:root { 
    --background-color: #FFF9F3;
    --main-color: #CB4D00;
    --secondary-color: #38548F;
    --accent-color: #D3E2F3;
    --box-colors: white;
    --transparent-box: hsl(0, 0%, 100%, 0.9);
    --link-hover: black;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-color);
    font-weight: bold;
}
p {
    color: var(--secondary-color);
}

hr {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}


/* link and button styles and hover effects */
.mainButtons {
    width: 330px;
}

.mainButtons:hover,
.mainButtons:focus {
    box-shadow: inset 0 0 0 3em var(--main-color);
}

body a {
    color: var(--main-color);
}

body a:hover {
    color: var(--link-hover);
}

/* nav bar styles */
nav, .navigation {
    background-color: var(--background-color);
}

.navbar a {
    font-weight: bold;
    color: var(--main-color);
}

.navbar-nav a {
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 1.5rem;
}
.navbar-toggler-icon {
    color: var(--secondary-color);
    
}

/* hero section styles */
header {
    background-image: url(../assets/images/wideHeroImage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#getInTouch {
    color: var(--secondary-color);
    font-weight: bold;
}



/* skills section styles */
.skillIcon:hover,
.skillIcon:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--secondary-color);
    transform: translateY(-0.30em);
}

/* work section styles */
.mainProject, .secondaryProject {
    height: 11rem;
}

.card-text {
    color: var(--secondary-color);
}

/* about + contact section styles */
#aboutContact img {
    width: 15rem;
}

#downloadCV {
    background-color: var(--secondary-color);
    color: var(--box-colors);
}

/* footer styles */
footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.iconLink {
    text-decoration: none;
}

.iconImage {
    padding: 10px;
}

.iconImage:hover,
.iconImage:focus {
    transform: translateY(-0.30em);
}



/* media query for small and xs screens */
@media only screen and (max-width:320px) {
   /* about and contact section */
    #aboutContact {
        display: flex;
    }
    .aboutContent {
        width: 100%;
        justify-content: center;
    }
}

/* media query for medium screens and above */
@media only screen and (min-width:1000px) {
    /* work section card body */
    .mainProject, .secondaryProject {
        height: 8rem;
    }
}